<div class="contact-cont">
    <div class="headings">
        <h6>Connect</h6>
        <h1>Get in Touch</h1>
        <p>We’re here to help you with your inquiries.</p>
    </div>
    <div class="details">
        <div class="detail">
            <img src="../../../assets/icon.png" alt="email icon">
            <h4>Email</h4>
            <p>Reach us anytime at the email below.</p>
            <p>info&#64;tshimologooutreach.co.za</p>
        </div>
        <div class="detail">
            <img src="../../../assets/icon2.png" alt="phone icon">
            <h4>Phone</h4>
            <p>Call us for immediate assistance and support.</p>
            <p>068 381 3937</p>
        </div>
        <div class="detail">
            <img src="../../../assets/icon3.png" alt="location icon">
            <h4>Office</h4>
            <p>Visit us at our headquarters for more information.</p>
            <p>Lilian Ngoyi St & Francis Baard St,
                Pretoria Central, Pretoria, 0002</p>
        </div>
    </div>
</div>