<div class="footer-cont">
    <a href=""><img class="logo"
        src="https://res.cloudinary.com/dcdbpwlv2/image/upload/f_auto,q_auto/v1/tshimologo/fpaoenviqlosvrowgsvf"
        alt="logo" /></a>

    <div class="links">
        <div class="useful">
            <a href="">Home</a>
            <a href="#about-us">About Us</a>
            <a href="#services">Services</a>
            <a href="#contacts">Contact Us</a>
        </div>
        <hr>
    </div>
    <div class="bottom">
        <p>© 2024 Tshimologo Outreach. All rights reserved.</p>
        <div class="social-links">
            <a href="https://www.facebook.com/TshimologoOutreach" target="_blank" aria-label="Facebook">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="https://twitter.com/TshimologoOutreach" target="_blank" aria-label="Twitter">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="https://www.instagram.com/TshimologoOutreach" target="_blank" aria-label="Instagram">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="https://www.linkedin.com/company/TshimologoOutreach" target="_blank" aria-label="LinkedIn">
                <i class="fab fa-linkedin-in"></i>
            </a>
        </div>
    </div>
    
</div>