<section class="gallery-section">
    <div class="gallery-header">
        <h2>Gallery</h2>
        <p>Explore moments from our events and programs.</p>
    </div>
    <div class="gallery">
        <div class="gallery-item"><img src="../../../assets/8f778f84-d23a-49a3-9e41-cba74f733d28 (1).JPG" alt="Gallery Image 1"></div>
        <div class="gallery-item"><img src="../../../assets/8f778f84-d23a-49a3-9e41-cba74f733d28 (2).JPG" alt="Gallery Image 2"></div>
        <div class="gallery-item"><img src="../../../assets/8f778f84-d23a-49a3-9e41-cba74f733d28.JPG" alt="Gallery Image 3"></div>
        <div class="gallery-item"><img src="../../../assets/b5abb8fd-3ff9-4a46-b67a-242e0ad0bb05.JPG" alt="Gallery Image 4"></div>
        <div class="gallery-item"><img src="../../../assets/f8d85f3f-dabc-4fc3-b840-94f5fcfc92fe.JPG" alt="Gallery Image 5"></div>
        <div class="gallery-item"><img src="../../../assets/fbdb4fb4-f74a-4630-8b72-b2413b1a7d8c.JPG" alt="Gallery Image 6"></div>
    </div>
</section>
