<section class="gallery-section"  data-aos="fade-up" data-aos-duration="2000" data-aos-anchor-placement="top-bottom">
    <div class="gallery-header">
        <h1>Gallery</h1>
        <p>Explore moments from our events and programs.</p>
    </div>
    <div class="gallery">
        <div class="gallery-item"><img src="https://res.cloudinary.com/dcdbpwlv2/image/upload/f_auto,q_auto/v1/tshimologo/fblnyaphhfbubctdeymz" alt="Gallery Image 1"></div>
        <div class="gallery-item"><img src="https://res.cloudinary.com/dcdbpwlv2/image/upload/f_auto,q_auto/v1/tshimologo/zz7da0oeutolwmwjid7i" alt="Gallery Image 2"></div>
        <div class="gallery-item"><img src="https://res.cloudinary.com/dcdbpwlv2/image/upload/f_auto,q_auto/v1/tshimologo/nlsjr5syiofxv51arqfj" alt="Gallery Image 3"></div>
        <div class="gallery-item"><img src="https://res.cloudinary.com/dcdbpwlv2/image/upload/f_auto,q_auto/v1/tshimologo/o8x83cvyl1teycwmlddq" alt="Gallery Image 4"></div>
        <div class="gallery-item"><img src="https://res.cloudinary.com/dcdbpwlv2/image/upload/f_auto,q_auto/v1/tshimologo/lbg4afh9bvqjxdcenmkc" alt="Gallery Image 5"></div>
        <div class="gallery-item"><img src="https://res.cloudinary.com/dcdbpwlv2/image/upload/f_auto,q_auto/v1/tshimologo/b37djqp62ktr3yxa0n94" alt="Gallery Image 6"></div>
    </div>
</section>
