<div class="hero-cont">
    <div class="left">
        <div class="content">
            <h1>Empowering Learners Through Educational Connections</h1>
            <p>At Tshimologo Outreach, we are dedicated to bridging the gap between rural high school learners and top educational opportunities. Our mission is to provide the guidance and resources necessary for students to thrive in their academic and professional journeys.</p>
        </div>
        <div class="learn">
            <button>Learn more</button>
        </div>
    </div>
    <div class="right">
        <img src="https://res.cloudinary.com/dcdbpwlv2/image/upload/f_auto,q_auto/v1/tshimologo/c73wpfick5h3iz0q2yt7" alt="content">
    </div>
</div>