<div class="intro-cont">
    <div class="headlines">
        <h6>Empower</h6>
        <h1>Empowering the future of rural youth</h1>
    </div>
    <p>At Tshimologo Outreach, we believe every young person deserves the opportunity to dream big and achieve their full potential. We are dedicated to connecting high school learners in rural and township areas with a wealth of opportunities, equipping them with the skills, tools, and self-belief they need to thrive in the real world</p>
    <div class="sections">
        <div class="schools box">
            <img src="https://res.cloudinary.com/dcdbpwlv2/image/upload/f_auto,q_auto/v1/tshimologo/djqb4kcphxzdswtkobos" alt="">
            <h2>For Learners</h2>
            <p>We provide learners with the necessary skills, tools and self–belief they need to 
                thrive in the real worl.</p>
        </div>
        <div class="learners box">
            <img src="https://res.cloudinary.com/dcdbpwlv2/image/upload/f_auto,q_auto/v1/tshimologo/umx434xgrhkref8ejhqq" alt="">
            <h2>For Schools</h2>
            <p>We desire to see growth and progress  in all schools, which will make a change in 
                our communities and society</p>
        </div>
        <div class="organisations box">
            <img src="https://res.cloudinary.com/dcdbpwlv2/image/upload/f_auto,q_auto/v1/tshimologo/ye9ojvlnubgpdandhmtw" alt="">
            <h2>For Organisations</h2>
            <p>We build platforms for organisations to enhance brand awareness, positioning, product demos, market expansion, and outreach to disadvantaged learners nationwide.
            </p>
        </div>
    </div>
</div>