.intro-cont{
    display: grid;
    place-items: center;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 30px;

    .headlines{
        width: 80%;
        text-align: center;
        margin: 0;

        p{
            text-align: center;
            margin-bottom: 0;
            width: 100%;
            color: #e67e22;
            font-size: 14px;
            font-weight: 700;
        }

        h6{
            color: #e67e22;
        }
    }

    p{
        width: 80%;
        text-align: center;
        margin-top: 15px;
    }

    .sections{
        width: 90%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-top: 2rem;
        gap: 10px;
        margin-bottom: 40px;

        .box{
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: #eff4ff;
            border-radius: 15px;
            padding-top: 1rem;
            color: white;
            
            img{
                width: 65px;
                height: 65px;
                object-fit: cover;
            }

            h2{
                font-size: 1.3rem;
                font-weight: 600;
                margin-top: 0.6rem;
                font-weight: 600;
            }
        }

        .schools{
            border: 1px solid #ff3131;
            background-color: #c8262d;
            // background-image: url('https://img.freepik.com/free-photo/abstract-luxury-soft-red-background-christmas-valentines-layout-design-studio-room-web-template-business-report-with-smooth-circle-gradient-color_1258-53408.jpg?t=st=1731637467~exp=1731641067~hmac=360cdc0612fd2976a53f9e09bb234080b9ec0e299b7c5f7b8599bcd8b5d77ee6&w=900');
        }

        .learners{
            border: 1px solid rgb(48, 129, 48);
            background-color: #68a450;
            // background-image: url('https://img.freepik.com/free-vector/gradient-background-green-tones_23-2148360453.jpg?t=st=1731637603~exp=1731641203~hmac=f2492aa0d67f5d26ff4e835194003c172ba1392fcaffafe7a1ddc77f173735ce&w=826');

        }

        .organisations{
            border: 1px solid #e67e22;
            background-color: #e67e22;
            // background-image: url('https://img.freepik.com/free-photo/abstract-orange-background-layout-designstudioroom-web-template-business-report-with-smooth-circle-g_1258-54100.jpg?t=st=1731637360~exp=1731640960~hmac=61a0e01f2b8813f1b432d21cf1d1003d73fe915fde7c46a70c39153a32a25b88&w=900');
        }
    }

    @media (max-width: 768px) {
        margin: 0;
        padding: 0;
        width: 100%;
        margin-bottom: 50px;

        p{
            width: 90%;
        }

        .sections{
            display: flex;
            flex-direction: column;
            gap: 1rem;
            align-items: center;
            margin-top: 1rem;
            margin: 0;
            padding: 0;
            width: 100%;

            .box{
                width: 90%;

                p{
                    width: 96%;
                }
            }
        }
    
    }

}