<div class="intro-cont" data-aos="fade-up" data-aos-duration="1700" data-aos-anchor-placement="top-bottom">
    <div class="headlines">
        <h6>Empower</h6>
        <h1>Empowering the future of rural and township youth</h1>
    </div>
    <p>At Tshimologo Outreach, we believe that every young person deserves the opportunity to dream big and achieve their full potential. We are dedicated to connecting high school learners in rural and township communities with a wealth of opportunities, equipping them with the self-confidence needed to excel in the real world. </p>
    <div class="sections">
        <div class="schools box">
            <img src="../../../assets/icons8-student-64 (1).png" alt="">
            <h2>For Learners</h2>
            <p>We provide learners with the necessary skills, tools and self–belief they need to 
                thrive in the real world.</p>
        </div>
        <div class="learners box">
            <img src="../../../assets/icons8-school-100.png" alt="">
            <h2>For Schools</h2>
            <p>We aspire to see growth and progress  in all schools, which will make a change in 
                our communities and society.</p>
        </div>
        <div class="organisations box">
            <img src="../../../assets/icons8-company-80.png" alt="">
            <h2>For Organisations</h2>
            <p>We build platforms for organisations to enhance brand awareness, positioning, product demos, market expansion, and outreach to disadvantaged learners nationwide.
            </p>
        </div>
    </div>
</div>