<div class="services-cont">
    <div class="services-header">
        <h2>Our Services</h2>
        <p>Empowering rural learners with career guidance, training, and outreach opportunities.</p>
    </div>
    <div class="services">
        <div class="service">
            <img src="../../../assets/round.png" alt="">
            <h5>CAREER EXHIBITIONS</h5>
            <p>Experience a dynamic platform that bridges rural youth with future success. Gain direct access to career opportunities, insights from universities, and up-to-date career paths.</p>
        </div>
        <div class="service">
            <img src="../../../assets/round-table.png" alt="">
            <h5>PR AND MARKETING</h5>
            <p>Aligning PR and marketing activities with your objectives for media coverage, product launches, and brand elevation, tailored to make a lasting impact.</p>
        </div>
        <div class="service">
            <img src="../../../assets/round (1).png" alt="">
            <h5>ADVERTISING</h5>
            <p>Promote your institution with a 90-second multimedia clip and career booklet ads to maximize reach and impact, showcasing campus life and career options.</p>
        </div>
        <div class="service">
            <img src="../../../assets/knowledge.png" alt="">
            <h5>TRAINING</h5>
            <p>We equip young people with world-readiness skills through regular, engaging workshops led by experts. Empowering learners with confidence and practical skills to thrive.</p>
        </div>
    </div>
</div>