<div class="services-cont"  data-aos="fade-up" data-aos-duration="2000" data-aos-anchor-placement="top-bottom">
    <div class="services-header">
        <h1>Our Services</h1>
        <p>Empowering rural and township high school learners with career guidance, training and outreach opportunities.</p>
    </div>
    <div class="services">
        <div class="service">
            <img src="https://res.cloudinary.com/dcdbpwlv2/image/upload/f_auto,q_auto/v1/tshimologo/msxiw6ukc2s1a6oyhwtk" alt="Career Exhibitions">
            <div class="content">
                <h5>CAREER EXHIBITIONS</h5>
                <p>Experience a dynamic platform that bridges rural and township youth with future success. Gain direct access to career opportunities, insights from universities, SETAs, professional bodies, TVET colleges, private institutions, and financial institutions, along with up-to-date career paths.</p>
            </div>
        </div>
        <div class="service">
            <img src="https://res.cloudinary.com/dcdbpwlv2/image/upload/f_auto,q_auto/v1/tshimologo/nzbuejum6tnsgqbh5idc" alt="PR and Marketing">
            <div class="content">
                <h5>PR AND MARKETING</h5>
                <p>Aligning PR and marketing activities with your objectives for media coverage, product launches, and brand elevation, tailored to make a lasting impact. Content is created to share a clear message that meets the needs of clients and their audiences.</p>
            </div>
        </div>
        <div class="service">
            <img src="https://res.cloudinary.com/dcdbpwlv2/image/upload/f_auto,q_auto/v1/tshimologo/gtxaxzdsl0hqsnsdjpno" alt="Advertising">
            <div class="content">
                <h5>ADVERTISING</h5>
                <p>Promote your institution with a 90-second multimedia clip and career booklet ads to maximize reach and impact, showcasing campus life and career options.</p>
            </div>
        </div>
        <div class="service">
            <img src="https://res.cloudinary.com/dcdbpwlv2/image/upload/f_auto,q_auto/v1/tshimologo/anoxadngtqgpulhiq7ov " alt="Training">
            <div class="content">
                <h5>TRAINING</h5>
                <p>We equip young people with work-readiness skills through regular engaging workshops led by experts. Empowering learners with confidence and practical skills to thrive.</p>
            </div>
        </div>
    </div>    
</div>