@import '~aos/dist/aos.css';

/* You can add global styles to this file, and also import other style files */

html{
    font-family: 'Poppins';
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// *{
//     border: 1px solid red;
// }